<div class="row">
  <div class="container">
    <section id="list">
      <div class="product-list col-md-12 col-centered">
        <br>
        <p style="color:#212121;font-size:30px;text-align:center"><i class="fa fa-gratipay" aria-hidden="true"></i>我的收藏</p>
        <% @products.each do |product| %>
          <div class="product-content col-xs-6 col-md-3">
            <% link_to product_path(product) %>
            <% if product.photos.present? %>
              <%= image_tag(product.photos[0].avatar.thumb.url, class: "thumbnail") %>
            <% else %>
              <%= link_to image_tag("http://placehold.it/200x200&text=No Pic", class: "pproduct-list-style-img img-responsive center-block"), product_path(product) %>
            <% end %>
            <p style="float:left"><%= link_to(product.title, product_path(product)) %>
              <br>
              <span>
                <!--收藏-->
                <% if current_user && current_user.is_favorite_of?(product) %>
                  <%= link_to unfavorite_product_path(product), method: :post do %><i>取消收藏</i><% end %>
                <% else %>
                  <%= link_to favorites_product_path(product), method: :post do %><i>收藏商品</i><% end %>
                <% end %>
            </span>
            </p>
            <p style="float:right">￥<%= product.price %></p>
            <br>
      </div>
      <% end %>
    </div>
    </section>
  </div>
</div>
