<div class="row">
  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <%= product.title %> ￥ <%= product.price %>
      <!--收藏-->
      <% if current_user && current_user.is_favorite_of?(product) %>
        <%= link_to unfavorite_product_path(product), method: :post do %><i class="fa fa-heart fa-lg" aria-hidden="true"></i><% end %>
      <% else %>
        <%= link_to favorites_product_path(product), method: :post do %><i class="fa fa-heart-o fa-lg" aria-hidden="true"></i><% end %>
      <% end %>
    </div>
  <% end %>
</div>
