<!--==首页轮播图开始==-->

        <div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
                <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
                <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper For Slides -->
            <div class="carousel-inner" role="listbox">
                <!-- Third Slide -->
                <div class="item active">
                    <!-- Slide Background -->
                  <img height="450px;" src="<%= image_url '首页1.jpg' %>">
                    <div class="bs-slider-overlay"></div>

                    <div class="container">
                        <div class="row">
                            <!-- Slide Text Layer -->
                            <div class="slide-text slide_style_left">
                                <h1 data-animation="animated zoomInRight">邂逅一本书</h1>
                                <p data-animation="animated fadeInLeft">遇见更好的自己.</p>
                                <a href="/products/1" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">文学作品</a>
                                <a href="/products/1" target="_blank"  class="btn btn-primary" data-animation="animated fadeInRight">散文小说</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Slide -->

                <!-- Second Slide -->
                <div class="item">
                    <!-- Slide Background -->
                  <img height="450px;" src="<%= image_url '首页2.jpg' %>">
                    <div class="bs-slider-overlay"></div>
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_center">
                        <h1 data-animation="animated flipInX">午后阳光</h1>
                        <p data-animation="animated lightSpeedIn">我, 书, 咖啡, 未知.</p>
                        <a href="/products/1" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">传记文学</a>
                        <a href="/products/1" target="_blank"  class="btn btn-primary" data-animation="animated fadeInDown">自我管理</a>
                    </div>
                </div>
                <!-- End of Slide -->

                <!-- Third Slide -->
                <div class="item">
                    <!-- Slide Background -->

                  <img height="450px;" src="<%= image_url '首页3.jpg' %>">
                    <div class="bs-slider-overlay"></div>
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_right">
                        <h1 data-animation="animated zoomInLeft">闲暇时刻</h1>
                        <p data-animation="animated fadeInRight">有时候，我们需要独处.</p>
                        <a href="/products/1" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">科幻小说</a>
                        <a href="/products/1" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">历史</a>
                    </div>
                </div>
                <!-- End of Slide -->


            </div><!-- End of Wrapper For Slides -->
            <!-- Left Control -->
            <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
                <span class="fa fa-angle-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <!-- Right Control -->
            <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div> <!-- End  bootstrap-touch-slider Slider -->
<!--==首页轮播图结束==-->

<!--==首页轮播图js开始==-->
          <!-- Script to Activate the Carousel -->
             <script>
             $('.carousel').carousel({
                 interval: 5000 //changes the speed
             })

             $('#bootstrap-touch-slider').bsTouchSlider();

             </script>

            <script>
             $(document).ready(function () {
             $('.material-button-toggle').click(function () {
                 $(this).toggleClass('open');
                 $('.option').toggleClass('scale-on');
             });
            });
           </script>
<!--==首页轮播js结束==-->
   <!--==首页第二部分==-->
  <div id="content-section-1" >
  		<div class="content-1 jumbotron">
  			<div class="group">
  				<h2>让知识流动起来，你准备好了吗？</h2>
  				<div class="short-line"></div>
  			</div>
  			<p>我们旨在为大学生打造一个全方位的二手书籍交易平台。在这里，买卖二手书籍将变得如此简单易行，麻麻再也不用担心我买不到书啦!</p>
  			<%= image_tag("brain-mind.png") %>
  		</div>
  	</div>
  <!--==首页第二部分==-->

  <!--===== 推薦商品 =====-->
    <section class="show-box">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2><%= "精选书籍" %></h2>
          <div class="short-line"></div>
          <div class="row">
            <div class="col-md-3">
              <div class="box">
                <%= link_to 'https://j-and-a-select.herokuapp.com/products/19' do %><%= image_tag("item_1.jpg") %><% end %>
              </div>
              <div class="box">
                <%= link_to 'https://j-and-a-select.herokuapp.com/products/24' do %><%= image_tag("item_2.png") %><% end %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="box">
                <%= link_to 'https://j-and-a-select.herokuapp.com/products/27' do %><%= image_tag("item_3.jpg") %><% end %>
              </div>
              <div class="box">
                <%= link_to 'https://j-and-a-select.herokuapp.com/products/21' do %><%= image_tag("item_7.jpg") %><% end %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="box three">
                <%= link_to 'https://j-and-a-select.herokuapp.com/products/22' do %><%= image_tag("item_5.jpg") %><% end %>
              </div>
              <div class="box three">
                <%= link_to 'https://j-and-a-select.herokuapp.com/products/20' do %><%= image_tag("item_6.jpg") %><% end %>
              </div>
              <!-- <div class="box three">
                <%= link_to 'https://j-and-a-select.herokuapp.com/products/25' do %><%= image_tag("item_7.jpg") %><% end %>
              </div> -->
            </div>
            <div class="col-md-3">
              <div class="box">
                <%= link_to 'https://j-and-a-select.herokuapp.com/products/26' do %><%= image_tag("item_8.jpg") %><% end %>
              </div>
              <div class="box">
                <%= link_to 'https://j-and-a-select.herokuapp.com/products/2' do %><%= image_tag("item_9.jpg") %><% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!--===== 立即購買 =====-->
  <section class="push-box">
    <%= link_to(t('立即购买'), products_path, class:'btn btn-push' ) %>
  </section>
