<!--==首页轮播图开始==-->

        <div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
                <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
                <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper For Slides -->
            <div class="carousel-inner" role="listbox">
                <!-- Third Slide -->
                <div class="item active">
                    <!-- Slide Background -->
                  <img height="450px;" src="<%= image_url 'shouye1.jpg' %>">
                    <div class="bs-slider-overlay"></div>

                    <div class="container">
                        <div class="row">
                            <!-- Slide Text Layer -->
                            <div class="slide-text slide_style_left">
                                <!-- <h1 data-animation="animated zoomInRight">邂逅一本书</h1> -->
                                <p data-animation="animated fadeInLeft">趁着青春 还剩几年</p>
                                <p data-animation="animated fadeInLeft">努力追上梦想的步伐</p>
                                <p data-animation="animated fadeInLeft">天黑以后 天亮之前</p>
                                <p data-animation="animated fadeInLeft">设法抹去心底那些疲倦</p>
                                <a href="/products" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">文学作品</a>
                                <a href="/products" target="_blank"  class="btn btn-primary" data-animation="animated fadeInRight">散文小说</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Slide -->

                <!-- Second Slide -->
                <div class="item">
                    <!-- Slide Background -->
                  <img height="450px;" src="<%= image_url 'shouye2.jpg' %>">
                    <div class="bs-slider-overlay"></div>
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_center">
                        <!-- <h1 data-animation="animated flipInX">午后阳光</h1> -->
                        <p data-animation="animated lightSpeedIn">少年后来渐渐明白了此行的意义</p>
                        <p data-animation="animated lightSpeedIn">那些过不去的心结仿佛都能打开了</p>
                        <p data-animation="animated lightSpeedIn">结冰的湖面上开始有了细微的碎裂痕迹</p>
                        <p data-animation="animated lightSpeedIn">你听到春天的声音了吗</p>
                        <a href="/products" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">传记文学</a>
                        <a href="/products" target="_blank"  class="btn btn-primary" data-animation="animated fadeInDown">自我管理</a>
                    </div>
                </div>
                <!-- End of Slide -->

                <!-- Third Slide -->
                <div class="item">
                    <!-- Slide Background -->

                  <img height="450px;" src="<%= image_url 'shouye3.jpg' %>">
                    <div class="bs-slider-overlay"></div>
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_right">
                        <p data-animation="animated fadeInRight">你来了 你走了</p>
                        <p data-animation="animated fadeInRight">你又来了 你又走了</p>
                        <p data-animation="animated fadeInRight">繁华都市 陌生街口</p>
                        <p data-animation="animated fadeInRight">你好！ 再见！</p>
                        <a href="/products" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">科幻小说</a>
                        <a href="/products" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">历史</a>
                    </div>
                </div>
                <!-- End of Slide -->


            </div><!-- End of Wrapper For Slides -->
            <!-- Left Control -->
            <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
                <span class="fa fa-angle-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <!-- Right Control -->
            <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div> <!-- End  bootstrap-touch-slider Slider -->
<!--==首页轮播图结束==-->

<!--==首页轮播图js开始==-->
          <!-- Script to Activate the Carousel -->
             <script>
             $('.carousel').carousel({
                 interval: 5000 //changes the speed
             })

             $('#bootstrap-touch-slider').bsTouchSlider();

             </script>

            <script>
             $(document).ready(function () {
             $('.material-button-toggle').click(function () {
                 $(this).toggleClass('open');
                 $('.option').toggleClass('scale-on');
             });
            });
           </script>
<!--==首页轮播js结束==-->
   <!--==首页第二部分==-->
   <div class="row">
     <div class="landing-page-mid">
       <div class="container">
         <div class="row">
           <div class="col-md-12">
             <h3 class="tagline text-center">让知识流动起来 你准备好了吗</h1>
               <p class="col-md-6 col-md-offset-3 text-center tagp">
                 我们不是只想简简单单的做一个交易平台，<br>
                 这一次我们想做的更多、更好，需要更多的人参与进来，
                 来易书小站传递你的思想的火花。</p>
           </div>
         </div>
       </div>
     </div>
   </div>
  <!--==首页第二部分==-->
  <!--===== 用户故事故事 =====-->
    <section class="story-box">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2><%= "用户故事" %></h2>
          <div class="short-line"></div>
          <div class="row">
            <div class="col-md-3 col-md-offset-1">
              <%= image_tag("user1.jpg") %>
            </div>
            <div class="col-md-7">
              <h3><%= t('th-jimmy') %></h3>
              <p>也许人生就是在不断的错过,一些人一些事。因为一个偶然的机会我和易书小站不期而遇了，便发自内心地喜欢上它了。在这里，远离城市的喧嚣、街头的霓虹，挑一本书，在跳跃的书香里寻找心灵片刻的宁静，成为我为数不多的爱好之一。</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-7 col-md-offset-1">
              <h3><%= t('th-anndo') %></h3>
              <p>邂逅一个人，邂逅一本书。易书小站为我们提供了一个专业的书籍交易平台，你既可以在上面挑选到别人精心推荐的书籍，也可以上架自己想交易的书籍。写书评、写心得，和大多数人来一场思想上的碰撞。</p>
            </p>
            </div>
            <div class="col-md-3">
              <%= image_tag("user2.jpg") %>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!--===== 推薦商品 =====-->
    <section class="show-box">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2><%= "精选书籍" %></h2>
          <div class="short-line"></div>
          <div class="row">
            <div class="col-md-3">
              <div class="box">
                <%= link_to 'https://j-and-a-select.herokuapp.com/products/19' do %><%= image_tag("item_1.jpg") %><% end %>
              </div>
              <div class="box">
                <%= link_to 'https://j-and-a-select.herokuapp.com/products/24' do %><%= image_tag("item_2.png") %><% end %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="box">
                <%= link_to 'https://j-and-a-select.herokuapp.com/products/27' do %><%= image_tag("item_3.jpg") %><% end %>
              </div>
              <div class="box">
                <%= link_to 'https://j-and-a-select.herokuapp.com/products/21' do %><%= image_tag("item_7.jpg") %><% end %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="box three">
                <%= link_to 'https://j-and-a-select.herokuapp.com/products/22' do %><%= image_tag("item_5.jpg") %><% end %>
              </div>
              <div class="box three">
                <%= link_to 'https://j-and-a-select.herokuapp.com/products/20' do %><%= image_tag("item_6.jpg") %><% end %>
              </div>
              <!-- <div class="box three">
                <%= link_to 'https://j-and-a-select.herokuapp.com/products/25' do %><%= image_tag("item_7.jpg") %><% end %>
              </div> -->
            </div>
            <div class="col-md-3">
              <div class="box">
                <%= link_to 'https://j-and-a-select.herokuapp.com/products/26' do %><%= image_tag("item_8.jpg") %><% end %>
              </div>
              <div class="box">
                <%= link_to 'https://j-and-a-select.herokuapp.com/products/2' do %><%= image_tag("item_9.jpg") %><% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!--===== 立即購買 =====-->
  <section class="push-box">
    <%= link_to(t('立即购买'), products_path, class:'btn btn-push' ) %>
  </section>
