<div class="product-box">
  <div class="container">
    <!--=== 商品類型 & 品牌選單 ===-->
    <div class='row content-box' style="margin-top:100px;">
      <div class='col-md-12'>
        <!--=== 頁面標題 ===-->
        <h3>
          <i class='fa fa-shopping-cart'></i>
          <%= "购物车" %></h3>
        <hr/>
        <!--=== 購物車資訊 ===-->
        <div class="row">
          <!-- 如果購物車有商品，顯示商品內容 -->
          <% if current_cart.cart_items.length > 0 %>
          <%=link_to("清空购物车", clean_carts_path, method: :delete, class: 'pull-right' , data: { confirm: t('message-confirm-clear-cart') } ) %>

          <!-- 購物車列表內容 -->
          <% current_cart.cart_items.each do |cart_item| %>
          <div class="col-md-12 cart-item-box">
            <!-- 商品圖片 -->
            <% if cart_item.product.photos[0].present? %>
            <%= image_tag(cart_item.product.photos[0].avatar.thumb.url) %>
          <% else %>
            <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
            <% end %>
            <div class="name"><%= link_to(cart_item.product.title, product_path(cart_item.product)) %></div>
            <div class="price"><%= render_product_price(cart_item.product) %></div>
            <div class="count-input ">
              <%= link_to("-", remove_quantity_cart_item_path(cart_item.product_id), class: "incr-btn", method: :post) %>
              <input class="quantity" type="text" value="<%= cart_item.quantity %>">
              <%= link_to("+", add_quantity_cart_item_path(cart_item.product_id), class: "incr-btn", method: :post) %>
            </div>

            <div class="count">-
              <%= render_cart_total_price(current_cart) %></div>
            <div>
              <%= link_to cart_item_path(cart_item.product_id), method: :delete do %>
              <i class='fa fa-close'></i>
              <% end %>
            </div>
            <hr/>
          </div>
            <% end %>
              </div>
          <div class='clearfix'>
            <div class='pull-right'><%= "合计" %><%= render_cart_total_price(current_cart) %></div>
          </div>
          <!-- 購物車結帳 -->
          <div class='clearfix'>
            <div class='pull-right'><%= link_to("前往结账", checkout_carts_path, method: :post, class: 'btn btn-md btn-default') %></div>
          </div>
        <% else %>
          <div class="buy-box">
            <h3><%= "您还没有选购任何商品" %></h3>

            <br/>
            <!-- 顯示隨機推薦商品 -->

            <div class='col-md-12'>
              <%= link_to("立刻选购", products_path, class:'btn btn-lg btn-default' ) %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
