<div class="product-box" style="margin-top:150px;">
  <div class="container">

  <% if @products.length > 0 %>
    <!--=== 商品列表 ===-->
    <div class='row'>
      <% @products.each_with_index do |product, index| %>
        <div class='col-xs-12 col-sm-4 col-md-3 product-content'>
          <%= link_to product_path(product) do %>
            <!-- 商品圖片 -->
            <% if product.photos.present? %>
              <!-- 顯示第一張圖片 -->
              <%= image_tag(product.photos[0].avatar.thumb.url, class: "thumbnail1") %>
            <% else %>
              <%= image_tag('http://placehold.it/200x200&text=No Pic', class: 'thumbnail1') %>
            <% end %>
          <% end %>
          <div class="product-info">
            <p><%= link_to(product.title , product_path(product)) %></p>
            <p><%= render_product_price(product) %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="product-content">
      <h2><%= (t('no-product-data')) %></h2>
    </div>
  <% end %>

  <div class="page-box">
        <%= will_paginate @products, renderer: BootstrapPagination::Rails, :previous_label => t('previous-label'), :next_label => t('next-label') %>
      </div>
  </div>
</div>
