<!--排序-->
<div class="dropdown clearfix pull-left">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    排序
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
    <li>
      <%= link_to("价格从高到底", products_path(:order => "by_lower_bound")) %>
    </li>
    <li>
      <%= link_to("价格从低到高", products_path(:order => "by_upper_bound")) %>

    </li>
    <li>
      <%= link_to("最近发布", products_path ) %>
    </li>
  </ul>
</div>
<br>
<!--商品列表-->
<div class="content">
	<div class="container">
		<div class="content-top">
			<h1>Recent Products</h1>
			<div class="content-top1">
        <% @products.each do |product| %>
				<div class="col-md-3 col-md2">
					<div class="col-md1 simpleCart_shelfItem">
						<a href="single.html">
              <%= link_to product_path(product) do%>
                <% if product.photos.present? %>
                  <%= image_tag(product.photos[0].avatar.thumb.url) %>
                <% else %>
                  <%= link_to image_tag("http://placehold.it/200x200&text=No Pic", class: "pproduct-list-style-img img-responsive center-block"), product_path(product) %>
                <% end %>
              <% end %>
						</a>
						<h3><a href="single.html"><%= link_to(product.title, product_path(product)) %></a></h3>
						<div class="price">
								<h5 class="item_price">$<%= product.price %></h5>
								<p href="#" class="item_add">
                  <%= link_to("加入购物车", add_to_cart_product_path(product), method: :post) %>
                </p>
								<div class="clearfix"> </div>
						</div>
					</div>
				</div>
        <% end %>
			<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!--//content-->

<!--旧版本
<div class="dropdown clearfix pull-left">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    排序
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
    <li>
      <%= link_to("价格从高到底", products_path(:order => "by_lower_bound")) %>
    </li>
    <li>
      <%= link_to("价格从低到高", products_path(:order => "by_upper_bound")) %>

    </li>
    <li>
      <%= link_to("最近发布", products_path ) %>
    </li>
  </ul>
</div>
<br>
<hr>
<div class="row">
  <div class="container">
    <section id="indexlist">
      <div class="product-list col-md-12 col-centered">
        <% @products.each do |product| %>
          <div class="product-content col-xs-6 col-md-3">
            <% link_to product_path(product) %>
            <% if product.photos.present? %>
          <%= image_tag(product.photos[0].avatar.thumb.url, class: "thumbnail") %>
          <% else %>
            <%= link_to image_tag("http://placehold.it/200x200&text=No Pic", class: "pproduct-list-style-img img-responsive center-block"), product_path(product) %>
            <% end %>
            <p style="float:left"><%= link_to(product.title, product_path(product)) %></p>
            <p style="float:right">￥<%= product.price %></p>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</div>
-->
