<div class="dropdown clearfix pull-left">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      排序
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li>
          <%= link_to("价格从高到底", products_path(:order => "by_lower_bound")) %>
        </li>
        <li>
            <%= link_to("价格从低到高", products_path(:order => "by_upper_bound")) %>

        </li>
        <li>
          <%= link_to("最近发布", products_path ) %>
        </li>
    </ul>
</div>
<br>
<hr>


<div class='row'>
  <% @products.each do |product| %>
    <div class='col-xs-12 col-sm-4 col-md-3 product-content'>
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <div class="product-info">
        <p><%= link_to(product.title , product_path(product)) %></p>
        <p>$ <%= product.price %></p>
      </div>
    </div>
  <% end %>
</div>
