<div class="dropdown clearfix pull-left">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    排序
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
    <li>
      <%= link_to("价格从高到底", products_path(:order => "by_lower_bound")) %>
    </li>
    <li>
      <%= link_to("价格从低到高", products_path(:order => "by_upper_bound")) %>

    </li>
    <li>
      <%= link_to("最近发布", products_path ) %>
    </li>
  </ul>
</div>

<div class="container all-product-box">
  <div class="row">
    <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3 text-center product-list-style">
      <% link_to product_path(product) %>
      <% if product.photos.present? %>
    <%= image_tag(product.photos[0].avatar.thumb.url, class: "thumbnail") %>
    <% else %>
      <%= link_to image_tag("http://placehold.it/200x200&text=No Pic", class: "pproduct-list-style-img img-responsive center-block"), product_path(product) %>
      <% end %>
      <br>
      <%= link_to(product.title, product_path(product)) %>
      <br>
      <strong>￥
        <%= link_to(product.price, product_path(product)) %></strong>
    </p>
  </div>
  <% end %>
</div>
</div>
