<div class="row">
  <div class="col-md-6">
    <% if @photos.present? %>
       <% @photos.each_with_index do |p, index| %>
         <% if index == 0 %>
           <%= image_tag p.avatar.medium.url %>
           <div style="letter-spacing: -8px">
         <% else %>
           <%= image_tag p.avatar.thumb.url %>
         <% end %>
       <% end %>
       </div>
     <% else %>
         <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
     <% end %>
  </div>
  <div class="col-md-6">
    <h2> <%= @product.title %>
      <!--收藏-->
      <% if current_user && current_user.is_favorite_of?(@product) %>
        <%= link_to unfavorite_product_path(@product), method: :post do %><i class="fa fa-heart fa-lg" aria-hidden="true"></i><% end %>
      <% else %>
        <%= link_to favorites_product_path(@product), method: :post do %><i class="fa fa-heart-o fa-lg" aria-hidden="true"></i><% end %>
      <% end %>
    </h2>
    <div style="height:100px;">
      <p>
        <%= @product.description %>
      </p>
    </div>
    <div> 数量 : <%= @product.quantity %> </div>
    <div class="product-price"> ￥ <%= @product.price %> </div>
    <div class="pull-right">
      <% if @product.quantity.present? && @product.quantity >0 %>
        <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>
      <% else %>
        <p class="btn btn-primary btn-lg btn-danger">已销售一空，无法购买</p>
      <% end %>
    </div>
  </div>
</div>
