<!DOCTYPE html>
<html>
  <head>
    <title>Jdstore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <script src="https://qiyukf.com/script/ea419df8e53dcc696e4ddb9c2bfd42c1.js" defer async></script>
  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render "common/navbar" %>
        <div class="flash">
        <%= render "common/flashes" %>
      </div>
        <%= yield %>
      </div>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
